body{
    box-sizing: border-box;
    padding:5px;
       
}
.container{
    display: grid;
    grid-template-rows: 50px 200px 400px 50px;
    grid-template-columns: repeat(3,400px) 100px;
    grid-gap: 10px;
    

    
}
.header {
    /*overflow: hidden;*/
   
    background-color: #b36464;
    grid-row: 1 / 2;
    grid-column: 1 / -1;   
    
       
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: rgb(68, 8, 8);
    font-family: 'Itim', cursive;
    text-align: center;
    padding: 12px;
    
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: dodgerblue;
    color: rgb(68, 8, 8);
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
.intro{
    background-color: #b36464;
    font-family: 'Itim', cursive;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    padding: 10px;
}
#socialmedia{
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

#socialmedia:hover{
  color:lightseagreen
  }
.skills{
    background-color: #b36464;
    font-family: 'Itim', cursive;
    grid-row: 3 / 4;
    grid-column: 1 / 3; 
    padding: 10px;
     

}
.image{
  background-color: #b36464;
  font-family: 'Itim', cursive;
  grid-row: 3 / 4;
  grid-column: 3 / -1; 
  text-align: center;
  
}

.footer{
    background-color: #b36464;
    font-family: 'Itim', cursive;
    text-align: center;
    grid-row: 4/ 5;
    grid-column: 1 / -1; 
}
.footer:hover{
  color:lightseagreen
}
