* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("testing-1.jpg");
  min-height: 900px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* opacity: 0.5; */
  
}

#navbar {
  overflow: hidden;
  background-color: #ca68bd;
  padding: 50px 10px; 
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: rgb(228, 183, 225);
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

.footer{
  background-color: #ca68bd;
  font-family: 'Itim', cursive;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.footer:hover,.socialmedia :hover{
color:rgb(151, 8, 108);

}

.socialmedia{
  text-align: center;
  font-size: 100px;
  }
